<li class="listing">
  <div class="listing-photo">
    <%= link_to (image_tag listing.image_url), listing %>
  </div>
  <h1><%= listing.name %></h1>
  <div class="price-ribbon">
    <h2>$<%= listing.price %></h2>
  </div>
</li>
