@mixin flash($color) {
  background: $color;
  border-radius: $base-border-radius;
  color: darken($color, 60);

  a {
    color: darken($color, 70);

    &:hover {
      color: darken($color, 90);
    }
  }
}

%flash-base, .flash {
  font-weight: bold;
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 2;

  @include media($medium-screen) {
    @include span-columns(2);
    @include shift(1);
  }

  ul {
    margin-left: 1em;
  }
}

%flash-alert {
  @extend %flash-base;
  @include flash($alert-color);
}

%flash-error, .error {
  @extend %flash-base;
  @include flash($error-color);
}

%flash-notice {
  @extend %flash-base;
  @include flash($notice-color);
}

%flash-success {
  @extend %flash-base;
  @include flash($success-color);
}
