button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  margin-top: 1em;
  text-transform: capitalize;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}
