@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";

body {
  margin: 0;
}

.full {
  background-color: #3498db;
  min-width: 100%;
}

.container {
  @include outer-container;
  @include pad(2em);
}

header {
  .logotype {
    @include span-columns(1);
    font-size: $h3-font-size;
    margin: 0;

    @include media($medium-screen) {
      @include span-columns(4 of 8);
      font-size: $h1-font-size;
    }
  }

  nav {
    @include span-columns(3);
    margin: .5em 0 0;
    text-align: right;

    @include media($medium-screen) {
      @include span-columns(3 of 8);
      @include shift(1);
    }

    li {
      @include span-columns(1 of 3);
      padding: 0;
      white-space: nowrap;
    }
  }

  a {
    color: #FFF;
  }
}

form {

  @include media($medium-screen) {
    @include span-columns(2 of 4);
    @include shift(1);
  }

  @include media($large-screen) {
    @include span-columns(5 of 12);
    @include shift(3.5);
  }

  .field_with_errors {

    label {
      color: darken($error-color, 70);
    }

    input {
      border: 1px solid darken($error-color, 70);
    }
  }
}

%listing {

  overflow: hidden;
  position: relative;
  margin-bottom: $gutter;
}

article.listing {
  @extend %listing;
}

li.listing {
  @extend %listing;
  border: $base-border;
  border-radius: $base-border-radius;

  @include media($medium-screen) {
    @include span-columns(4 of 8);
    @include omega(2n);
  }

  @include media($large-screen) {
    @include omega-reset(2n);
    @include span-columns(3.96 of 12);
    @include omega(3n);
  }

  h1 {
    background-color: #FFF;
    font-size: $h5-font-size;
    margin: 0;
    padding: $base-spacing/3 $gutter/2;
  }

  .manage {
    @include pad(0 1em);

    button {
      @include span-columns(2 of 4);
    }
  }
}

.price-ribbon {
  @include size(80px);
  overflow: hidden;
  position: absolute;
    top: -1px;
    right: -1px;

  h2 {
    @include transform(rotate(45deg));
    background-color: $green;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    color: #FFF;
    font-size: $h6-font-size;
    font-weight: 600;
    position: relative;
      top: 15px;
      left: -5px;
    text-align: center;
    width: 120px;
  }
}

.listing-photo {
  height: 0;
  overflow: hidden;
  padding: 0 0 60%;
  position: relative;

  img {
    @include size(100%);
    position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
  }
}
